@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #223;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.window:not(.visible) {
  /* Don't actually set display:none; - It causes problems */
  box-sizing: border-box;
  overflow: hidden;
  width: 0px !important;
}

.window {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 41px);
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.window > * {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  border: none;
}
.window .canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* Base height, not actual height. */
  height: 10%;
  background: #ddd;
}
.window .canvas-container canvas {
  position: relative;
  background: white;
  max-width: 100%;
  max-height: 100%;
}
.window .console {
  font-family: "Roboto Mono";
  flex-grow: 0;
  flex-shrink: 1;
  background: #282a36;
  color: white;
  box-shadow: 0 0 8px #335;
}
.window .console h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 0;
}
.window .console h3 button {
  all: unset;
  float: right;
  cursor: pointer;
  color: white;
  font-size: 0.8em;
  padding: 2px 10px;
  background: #3a3d4f;
}
.window .console h3 button:hover {
  background: #448;
}
.window .console .output-container {
  height: 200px;
  overflow: auto;
  resize: vertical;
  max-height: 250px;
  min-height: 75px;
}
.window .console .log-item {
  font-size: 0.95em;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.window .console .log-item:nth-child(odd) {
  background: #3a3d4f;
}
.window .console .log-item .short {
  display: inline-block;
  opacity: 0.8;
  font-size: 0.9em;
  min-width: 50px;
  margin-right: 10px;
}
.window .console .log-item .source {
  margin-left: auto;
  font-size: 0.9em;
  opacity: 0.8;
  padding: 2px;
  font-weight: normal;
}
.window .console .log-item .message {
  max-width: 70%;
}
.window .console .log-item a {
  color: inherit;
}
.window .console .log-item a:hover {
  text-decoration-thickness: 2px;
}
.window .console .log-item.info .message {
  color: #bbf;
}
.window .console .log-item.warn .message {
  color: #ff8;
}
.window .console .log-item.debug .message {
  color: #8f8;
}
.window .console .log-item.error {
  font-weight: bold;
  color: #fff;
  background: #844;
}
.window .console .log-item.error:nth-child(odd) {
  background: #a55;
}
.window #ace-editor-diff {
  position: relative;
}

.editor {
  flex-grow: 1;
}

.top {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  background: #335;
}
.top svg, .top img {
  position: relative;
  top: 0.125em;
  height: 1em;
  margin-right: 0.5em;
}
.top button {
  background: #448;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  border: none;
  padding: 3px 20px;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}
.top button:hover {
  background: #648;
}
.top a {
  font-family: inherit;
  color: inherit;
}
.top a:hover {
  text-decoration-thickness: 2px;
}
.top .account, .top .progress, .top .name {
  font-family: Poppins, sans-serif;
  color: white;
  padding-inline: 15px;
}
.top .account {
  position: absolute;
  right: 0;
}
.top .progress {
  position: absolute;
  z-index: 1;
  left: 0;
}
.top :not(.progress) {
  z-index: 2;
}

.sidebar {
  padding: 5px;
  width: 320px;
  max-width: min(70%, 550px);
  min-width: 300px;
  resize: horizontal;
  height: 100%;
  max-height: calc(100vh - 41px);
  overflow-y: scroll;
  z-index: 1;
  flex-shrink: 0;
  font-family: Poppins, sans-serif;
  color: white;
  background: #335;
}
.sidebar h3 {
  margin: 0;
  padding: 10px;
  font-size: 1.25rem;
}
.sidebar h3 button {
  float: right;
  border: none;
  background: #448;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 0.8em;
  font-family: Poppins, sans-serif;
  transition: 0.1s;
}
.sidebar h3 button:hover {
  background: #648;
}
.sidebar h3 button:not(:first-of-type) {
  margin-right: 5px;
}

.center {
  padding: 20px;
  width: min(350px, 100%);
  min-height: min(400px, 100%);
  margin: auto;
  font-family: Poppins, sans-serif;
  color: white;
  background: #335;
}
.center.wide {
  width: min(450px, 100%);
  min-height: unset;
}
.center.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center code {
  font-family: "Roboto Mono";
  font-size: 0.9em;
  padding: 2px;
  background: #668;
}

.list .list-item {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 10px;
  background: #448;
  font-size: 1rem;
  cursor: default;
  margin-bottom: 4px;
  transition: 0.1s;
}
.list .list-item:is(button, span, label) {
  padding: 5px 10px;
  font-family: Lato, sans-serif;
  font-size: 1.1em;
  margin-bottom: 2px;
}
.list .list-item:is(button, span, label):is(button) {
  cursor: pointer;
  overflow-x: hidden;
}
.list .list-item:is(button, span, label).no-margin {
  margin-bottom: 0;
}
.list .list-item textarea {
  margin-left: auto;
  background: #282a36;
  color: white;
  border: none;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
}
.list .list-item:focus-visible, .list .list-item *:focus-visible {
  outline: 2px solid white;
}
.list .list-item .x-value-label {
  margin-left: auto;
}
.list .list-item .x-value-label::before,
.list .list-item .y-value-label::before {
  content: "x";
  width: 20px;
  height: 20px;
  color: #e88;
  font-family: inherit;
  background: #282a36;
  padding: 4px 7px;
}
.list .list-item .y-value-label::before {
  content: "y";
  color: #8d8;
}
.list .list-item:is(details) {
  padding: 0px;
}
.list .list-item svg {
  color: #ebe;
  height: 1em;
  margin-left: 3px;
  margin-right: 12px;
}
.list .list-item a {
  color: inherit;
}
.list .list-item a.clean {
  text-decoration: none;
}
.list .list-item img.preview {
  max-height: 80px;
  margin-left: auto;
}
.list .list-item:is(span) svg {
  color: white;
}
.list .list-item.folder {
  transition: none;
}
.list .list-item.folder[open] {
  background: #335;
  border-left: 5px solid #648;
}
.list .list-item.folder[open] > summary {
  position: relative;
  left: -5px;
  width: calc(100% + 5px);
}
.list .list-item.filename {
  font-family: "Roboto Mono";
}
.list .list-item:is(span).property {
  border-bottom: none;
}
.list .list-item.property:hover {
  background: #668;
}
.list .list-item.small {
  font-size: 0.9em;
  padding-block: 2px;
}
:is(.list .list-item[open], .list .list-item:hover) > summary {
  background: #648;
}
.list .list-item:not(details):hover {
  background: #648;
}
.list .list-item .type {
  opacity: 0.75;
  margin-left: auto;
  margin-right: 5px;
}
.list .list-item summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  list-style: none;
  transition: 0.1s;
  padding: 5px 10px;
}
.list .list-item summary::-webkit-details-marker {
  display: none;
}
.list .list-item summary button, .list .list-item summary .button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  margin-left: 2px;
  margin-right: 12px;
}
.list .list-item summary button svg, .list .list-item summary button img, .list .list-item summary .button svg, .list .list-item summary .button img {
  margin: 0px;
  transition: 0.2s;
}
.list .list-item summary button:hover :is(svg, img), .list .list-item summary .button:hover :is(svg, img) {
  color: white;
}
.list .list-item summary button.object-hidden svg, .list .list-item summary button.object-hidden img, .list .list-item summary .button.object-hidden svg, .list .list-item summary .button.object-hidden img {
  color: #335;
}
.list .list-item summary button.object-hidden::after, .list .list-item summary .button.object-hidden::after {
  content: "";
  height: 120%;
  width: 2px;
  position: absolute;
  background: #ebe;
  left: 7px;
  transform: rotate(45deg);
}
.list .list-item .options label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  transition: 0.1s;
}
.list .list-item .options label input, .list .list-item .options label select {
  padding: 0px 7px;
  margin-inline: 3px;
  max-width: 150px;
  font-family: inherit;
  font-size: 1rem;
  background: #000;
  color: black;
  border: none;
  border-radius: 4px;
}
.list .list-item .options label input:first-of-type, .list .list-item .options label select:first-of-type {
  margin-left: 35px;
}
.list .list-item .options label input:hover, .list .list-item .options label select:hover {
  background: #d8d8d8;
}
.list .list-item .options label input[type=text] {
  width: 150px;
}
.list .list-item .options label input[type=number] {
  max-width: 75px;
}
.list .list-item .options label input[type=checkbox] {
  transform: scale(1.4);
  accent-color: white;
}
.list .list-item .options label:hover {
  background: #648;
}
.list .list-item *:not(input)::-moz-selection {
  background: transparent;
}
.list .list-item *:not(input)::selection {
  background: transparent;
}
.list .file-button-active {
  background: #648;
}

.list .list-item > :is(button, input, select), .editor-controls > :is(button, input, select), .editor-controls * > :is(button, input, select) {
  color: white;
  background: #282a36;
  border: none;
  padding: 5px 15px;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}
.list .list-item > :is(button, input, select):not(:last-child), .editor-controls > :is(button, input, select):not(:last-child), .editor-controls * > :is(button, input, select):not(:last-child) {
  margin-right: 5px;
}
.list .list-item > :is(button, input, select).icon-button, .editor-controls > :is(button, input, select).icon-button, .editor-controls * > :is(button, input, select).icon-button {
  padding: 5px;
}
.list .list-item > :is(button, input, select).icon-button svg, .editor-controls > :is(button, input, select).icon-button svg, .editor-controls * > :is(button, input, select).icon-button svg {
  margin-inline: 3px;
}
.list .list-item > :is(button, input, select):hover, .editor-controls > :is(button, input, select):hover, .editor-controls * > :is(button, input, select):hover {
  background: #3a3d4f;
}
.list .list-item > :is(button, input, select):is(input, select), .editor-controls > :is(button, input, select):is(input, select), .editor-controls * > :is(button, input, select):is(input, select) {
  max-width: 140px;
  padding: 5px;
}
.list .list-item > :is(button, input, select):is(input, select):focus, .editor-controls > :is(button, input, select):is(input, select):focus, .editor-controls * > :is(button, input, select):is(input, select):focus {
  outline: 2px solid white;
}
.list .list-item > :is(button, input, select)[type=text], .editor-controls > :is(button, input, select)[type=text], .editor-controls * > :is(button, input, select)[type=text] {
  cursor: text;
}
.list .list-item > :is(button, input, select)[type=number], .editor-controls > :is(button, input, select)[type=number], .editor-controls * > :is(button, input, select)[type=number] {
  max-width: 70px;
}
.list .list-item > :is(button, input, select)[type=file], .editor-controls > :is(button, input, select)[type=file], .editor-controls * > :is(button, input, select)[type=file] {
  max-width: 180px;
  cursor: pointer;
  padding: 0px;
  padding-right: 7px;
}
.list .list-item > :is(button, input, select)[type=file]::file-selector-button, .editor-controls > :is(button, input, select)[type=file]::file-selector-button, .editor-controls * > :is(button, input, select)[type=file]::file-selector-button {
  background: #282a36;
  padding: 5px 7px;
  border: none;
  color: #ebe;
}
.list .list-item > :is(button, input, select):first-child, .list .list-item > :is(button, input, select).right, .editor-controls > :is(button, input, select):first-child, .editor-controls > :is(button, input, select).right, .editor-controls * > :is(button, input, select):first-child, .editor-controls * > :is(button, input, select).right {
  margin-left: auto;
}

.contextmenu {
  position: fixed;
  display: none;
  padding: 2px;
  color: white;
  font-family: Poppins, sans-serif;
  background: #668;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5333333333);
  z-index: 99;
}
.contextmenu button.list-item {
  font-family: Poppins, sans-serif;
  font-size: 0.95rem;
  min-width: 120px;
  margin: 0;
}
.contextmenu button.list-item:hover {
  background: transparent;
}

.editor-controls {
  flex-grow: 0;
  padding: 0;
  background: #335;
}
.editor-controls .legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}
.editor-controls .legend.centered {
  justify-content: center;
}
.editor-controls .legend :not(.right) {
  margin-left: unset;
}
.editor-controls .legend .right {
  margin-left: auto;
}
.editor-controls .legend button :is(svg, img) {
  position: relative;
  left: 2px;
}
.editor-controls.visual {
  overflow-x: auto;
}
.editor-controls .frame-list table, .editor-controls .frame-list:is(table) {
  margin-top: 5px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.editor-controls .frame-list table tr, .editor-controls .frame-list:is(table) tr {
  background: #3a3d4f;
}
.editor-controls .frame-list table thead tr, .editor-controls .frame-list table tr:nth-child(2n), .editor-controls .frame-list:is(table) thead tr, .editor-controls .frame-list:is(table) tr:nth-child(2n) {
  background: #282a36;
}
.editor-controls .frame-list table tbody tr:last-of-type, .editor-controls .frame-list:is(table) tbody tr:last-of-type {
  background: transparent;
}
.editor-controls .frame-list table thead th:not(:last-child), .editor-controls .frame-list:is(table) thead th:not(:last-child) {
  padding-inline: 7px;
}
.editor-controls .frame-list table th, .editor-controls .frame-list table td, .editor-controls .frame-list:is(table) th, .editor-controls .frame-list:is(table) td {
  text-align: left;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 0;
}
.editor-controls .frame-list table th:first-of-type, .editor-controls .frame-list table td:first-of-type, .editor-controls .frame-list:is(table) th:first-of-type, .editor-controls .frame-list:is(table) td:first-of-type {
  width: 100px;
}
.editor-controls .frame-list table th:nth-child(2), .editor-controls .frame-list table td:nth-child(2), .editor-controls .frame-list:is(table) th:nth-child(2), .editor-controls .frame-list:is(table) td:nth-child(2) {
  width: 100px;
}
.editor-controls .frame-list table th.error, .editor-controls .frame-list table td.error, .editor-controls .frame-list:is(table) th.error, .editor-controls .frame-list:is(table) td.error {
  background: #622;
}
.editor-controls .frame-list table th.active, .editor-controls .frame-list table td.active, .editor-controls .frame-list:is(table) th.active, .editor-controls .frame-list:is(table) td.active {
  background: #668;
}
.editor-controls .frame-list table th button, .editor-controls .frame-list table td button, .editor-controls .frame-list:is(table) th button, .editor-controls .frame-list:is(table) td button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 2px 7px;
}
.editor-controls .frame-list table th input, .editor-controls .frame-list table th select, .editor-controls .frame-list table th span, .editor-controls .frame-list table td input, .editor-controls .frame-list table td select, .editor-controls .frame-list table td span, .editor-controls .frame-list:is(table) th input, .editor-controls .frame-list:is(table) th select, .editor-controls .frame-list:is(table) th span, .editor-controls .frame-list:is(table) td input, .editor-controls .frame-list:is(table) td select, .editor-controls .frame-list:is(table) td span {
  width: 100%;
  max-width: unset;
  padding: 2px 7px;
  background: transparent;
}
.editor-controls .frame-list table th input:hover, .editor-controls .frame-list table th select:hover, .editor-controls .frame-list table th span:hover, .editor-controls .frame-list table td input:hover, .editor-controls .frame-list table td select:hover, .editor-controls .frame-list table td span:hover, .editor-controls .frame-list:is(table) th input:hover, .editor-controls .frame-list:is(table) th select:hover, .editor-controls .frame-list:is(table) th span:hover, .editor-controls .frame-list:is(table) td input:hover, .editor-controls .frame-list:is(table) td select:hover, .editor-controls .frame-list:is(table) td span:hover {
  background: #648;
}
.editor-controls .frame-list table th input.invalid, .editor-controls .frame-list table th select.invalid, .editor-controls .frame-list table th span.invalid, .editor-controls .frame-list table td input.invalid, .editor-controls .frame-list table td select.invalid, .editor-controls .frame-list table td span.invalid, .editor-controls .frame-list:is(table) th input.invalid, .editor-controls .frame-list:is(table) th select.invalid, .editor-controls .frame-list:is(table) th span.invalid, .editor-controls .frame-list:is(table) td input.invalid, .editor-controls .frame-list:is(table) td select.invalid, .editor-controls .frame-list:is(table) td span.invalid {
  background: #622;
}
.editor-controls .tile-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  padding: 2px;
  height: 100px;
  resize: vertical;
  max-height: 200px;
  min-height: 75px;
  overflow-y: scroll;
}
.editor-controls .tile-list .tile {
  background: repeating-conic-gradient(rgba(0, 0, 0, 0) 0% 25%, rgba(255, 255, 255, 0.0666666667) 0% 50%) 50%/80px 80px;
}
.editor-controls .tile-list .tile.selected {
  outline: 2px solid #ebe;
}
.editor-controls .tile-list .tile:hover {
  outline: 2px solid #bbf;
}
.editor-controls .tile-list .row-break {
  width: 100%;
}
.editor-controls .tile-list .row-break.no-break {
  display: none;
}
.editor-controls .tile-list .row-break-end {
  width: 100%;
  height: 100px;
}
.editor-controls input, .editor-controls button, .editor-controls select {
  background: #448;
}
.editor-controls input.wide, .editor-controls button.wide, .editor-controls select.wide {
  flex-grow: 1;
  max-width: unset;
}
.editor-controls input:hover, .editor-controls button:hover, .editor-controls select:hover {
  background: #648;
}
.editor-controls span, .editor-controls button, .editor-controls input, .editor-controls select {
  border: none;
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  color: white;
}
.editor-controls span:is(input, select), .editor-controls button:is(input, select), .editor-controls input:is(input, select), .editor-controls select:is(input, select) {
  padding: 5px 10px;
}
.editor-controls span:is(input), .editor-controls button:is(input), .editor-controls input:is(input), .editor-controls select:is(input) {
  font-size: 14px;
}
.editor-controls span code, .editor-controls span.filename, .editor-controls button code, .editor-controls button.filename, .editor-controls input code, .editor-controls input.filename, .editor-controls select code, .editor-controls select.filename {
  font-family: "Roboto Mono";
  margin-inline: 10px;
}
.editor-controls span svg, .editor-controls span img, .editor-controls button svg, .editor-controls button img, .editor-controls input svg, .editor-controls input img, .editor-controls select svg, .editor-controls select img {
  height: 16px;
  margin-right: 5px;
}/*# sourceMappingURL=engine.css.map */