
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: #223;
}

$background: #335;
$secondary: #448;
$highlight: #648;
$highlightbright: #ebe;
$highlightsecondary: #668;
$dark: #282a36;
$faded: #3a3d4f;

$text: white;

$font: Poppins, sans-serif;
$labeltext: Lato, sans-serif;
$monospace: 'Roboto Mono';

$transition: 0.1s;

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.window:not(.visible) {
    /* Don't actually set display:none; - It causes problems */
    box-sizing: border-box;
    overflow: hidden;
    width: 0px !important;
}
.window {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 41px);
    padding: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    & > * {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        border: none;
    }

    .canvas-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        /* Base height, not actual height. */
        height: 10%;
        background: #ddd;

        canvas {
            position: relative;
            background: white;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .console {
        font-family: $monospace;
        flex-grow: 0;
        flex-shrink: 1;
        background: $dark;
        color: $text;
        box-shadow: 0 0 8px $background;

        h3 {
            font-weight: bold;
            font-size: 1rem;
            padding: 5px 10px;
            margin: 0;

            button {
                all: unset;
                float: right;
                cursor: pointer;

                color: white;
                font-size: 0.8em;
                padding: 2px 10px;
                background: $faded;

                &:hover {
                    background: $secondary;
                }
            }
        }

        .output-container {
            height: 200px;
            overflow: auto;
            resize: vertical;
            max-height: 250px;
            min-height: 75px;
        }

        .log-item {
            font-size: 0.95em;
            padding: 5px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &:nth-child(odd) {
                background: $faded;
            }

            .short {
                display: inline-block;
                opacity: 0.8;
                font-size: 0.9em;
                min-width: 50px;
                margin-right: 10px;
            }

            .source {
                margin-left: auto;
                font-size: 0.9em;
                opacity: 0.8;
                padding: 2px;
                font-weight: normal;
            }

            .message {
                max-width: 70%;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration-thickness: 2px; 
                }
            }

            &.info .message {
                color: #bbf;
            }
            &.warn .message {
                color: #ff8;
            }
            &.debug .message {
                color: #8f8;
            }
            &.error {
                font-weight: bold;
                color: #fff;
                background: #844;

                &:nth-child(odd) {
                    background: #a55;
                }
            }
        }
    }

    #ace-editor-diff {
        position: relative;
    }
}

.editor {
    flex-grow: 1;
}

.top {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    background: $background;

    svg, img {
        position: relative;
        top: 0.125em;
        height: 1em;
        margin-right: 0.5em;
    }

    button {
        background: $secondary;
        font-family: $font;
        font-size: 1em;
        border: none;
        padding: 3px 20px;
        color: $text;
        cursor: pointer;

        &:hover {
            background: $highlight;
        }

        transition: $transition;
    }

    a {
        font-family: inherit;
        color: inherit;

        &:hover {
            text-decoration-thickness: 2px;
        }
    }

    .account, .progress, .name {
        font-family: $font;
        color: $text;
        padding-inline: 15px;
    }
    .account {
        position: absolute;
        right: 0;
    }
    .progress {
        position: absolute;
        z-index: 1;
        left: 0;
    }
    :not(.progress) {
        z-index: 2;
    }
}

.sidebar {
    padding: 5px;
    width: 320px;
    max-width: min(70%, 550px);
    min-width: 300px;
    resize: horizontal;
    height: 100%;
    max-height: calc(100vh - 41px);
    overflow-y: scroll;
    z-index: 1;
    flex-shrink: 0;

    font-family: $font;
    color: $text;
    background: $background;

    h3 {
        margin: 0;
        padding: 10px;
        font-size: 1.25rem;

        button {
            float: right;
            border: none;
            background: $secondary;
            color: $text;
            padding: 2px 10px;
            cursor: pointer;
            font-size: 0.8em;
            font-family: $font;

            transition: $transition;

            &:hover {
                background: $highlight;
            }

            &:not(:first-of-type) {
                margin-right: 5px;
            }
        }
    }
}

.center {
    padding: 20px;
    width: min(350px, 100%);
    min-height: min(400px, 100%);

    margin: auto;

    font-family: $font;
    color: $text;
    background: $background;

    &.wide {
        width: min(450px, 100%);
        min-height: unset;
    }

    &.fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    code {
        font-family: $monospace;
        font-size: 0.9em;
        padding: 2px;
        background: $highlightsecondary;
    }
}

.list {
    .list-item {
        all: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 100%;
        padding: 2px 10px;
        background: $secondary;
        font-size: 1rem;
        cursor: default;

        margin-bottom: 4px;

        transition: $transition;

        &:is(button, span, label) {
            padding: 5px 10px;
            font-family: $labeltext;
            font-size: 1.1em;
            margin-bottom: 2px;

            &:is(button) {
                cursor: pointer;
                overflow-x: hidden;
            }
            &.no-margin {
                margin-bottom: 0;
            }
        }

        textarea {
            margin-left: auto;
            background: $dark;
            color: $text;
            border: none;

            font-family: $labeltext;
            font-size: 0.9em;
        }

        &:focus-visible, *:focus-visible {
            outline: 2px solid $text;
        }

        .x-value-label {
            margin-left: auto;
        }
        .x-value-label::before,
        .y-value-label::before {
            content: 'x';
            width: 20px;
            height: 20px;
            color: #e88;
            font-family: inherit;
            background: $dark;
            padding: 4px 7px;
        }
        .y-value-label::before {
            content: 'y';
            color: #8d8;
        }

        &:is(details) {
            padding: 0px;
        }

        svg {
            color: $highlightbright;
            height: 1em;
            margin-left: 3px;
            margin-right: 12px;
        }

        a {
            color: inherit;

            &.clean {
                text-decoration: none;
            }
        }

        img.preview {
            max-height: 80px;
            margin-left: auto;
        }

        &:is(span) svg {
            color: $text;
        }

        &.folder {
            transition: none;
            &[open] {
                background: $background;
                border-left: 5px solid $highlight;
                & > summary {
                    position: relative;
                    left: -5px;
                    width: calc(100% + 5px);
                }
            }
        }

        &.filename {
            font-family: $monospace;
        }

        &:is(span).property {
            border-bottom: none;
        }
        &.property:hover {
            background: $highlightsecondary;
        }

        &.small {
            font-size: 0.9em;
            padding-block: 2px;
        }

        :is(&[open], &:hover) > summary {
            background: $highlight;
        }

        &:not(details):hover {
            background: $highlight;
        }

        .type {
            opacity: 0.75;
            margin-left: auto;
            margin-right: 5px;
        }

        summary {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            list-style: none;
            
            transition: 0.1s;
            padding: 5px 10px;

            &::-webkit-details-marker {
                display: none;
            }

            button, .button {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                transition: 0.2s;

                margin-left: 2px;
                margin-right: 12px;

                svg, img {
                    margin: 0px;
                    transition: 0.2s;
                }

                &:hover :is(svg, img) {
                    color: $text;
                }

                &.object-hidden {
                    svg, img {
                        color: $background;
                    }
                
                    &::after {
                        content: '';
                        height: 120%;
                        width: 2px;
                        position: absolute;
                        background: $highlightbright;
                        left: 7px;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .options {
            label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 5px 10px;

                transition: 0.1s;

                input, select {
                    padding: 0px 7px;
                    margin-inline: 3px;
                    &:first-of-type {
                        margin-left: 35px;
                    }

                    max-width: 150px;

                    font-family: inherit;
                    font-size: 1rem;
                    background: #000;
                    color: black;

                    border: none;
                    border-radius: 4px;

                    &:hover {
                        background: #d8d8d8;
                    }
                }
                input[type=text] {
                    width: 150px;
                }
                input[type=number] {
                    max-width: 75px;
                }
                input[type=checkbox] {
                    transform: scale(1.4);
                    accent-color: $text;
                }

                &:hover {
                    background: $highlight;
                }
            }
        }

        *:not(input)::selection {
            background: transparent;
        }
    }

    .file-button-active {
        background: $highlight;
    }
}

.list .list-item, .editor-controls, .editor-controls * {
    & > :is(button, input, select) {

        &:not(:last-child) {
            margin-right: 5px;
        }
        color: $text;
        background: $dark;
        border: none;
        padding: 5px 15px;

        &.icon-button {
            padding: 5px;

            svg {
                margin-inline: 3px;
            }
        }

        font-family: $labeltext;
        font-size: 1rem;
        cursor: pointer;

        transition: $transition;

        &:hover {
            background: $faded;
        }
        &:is(input, select) {
            max-width: 140px;
            padding: 5px;

            &:focus {
                outline: 2px solid $text;
            }
        }

        &[type=text] {
            cursor: text;
        }
        &[type=number] {
            max-width: 70px;
        }
        &[type=file] {
            max-width: 180px;
            cursor: pointer;
            padding: 0px;
            padding-right: 7px;
            &::file-selector-button {
                background: $dark;
                padding: 5px 7px;
                border: none;
                color: $highlightbright;
            }
        }

        &:first-child, &.right {
            margin-left: auto;
        }
    }
}

.contextmenu {
    position: fixed;
    display: none;

    padding: 2px;

    color: $text;
    font-family: $font;
    background: $highlightsecondary;
    box-shadow: 0 0 2px #0008;

    button.list-item {
        font-family: $font;
        font-size: 0.95rem;
        min-width: 120px;

        margin: 0;

        &:hover {
            background: transparent;
        }
    }

    z-index: 99;
}

.editor-controls {
    flex-grow: 0;
    padding: 0;
    background: $background;

    .legend {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 5px;

        &.centered {
            justify-content: center;
        }
        :not(.right) {
            margin-left: unset;
        }
        .right {
            margin-left: auto;
        }

        button :is(svg, img) {
            position: relative;
            left: 2px;
        }
    }

    &.visual {
        overflow-x: auto;
    }

    &.floating {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;

        width: 375px;
        height: 300px;
        resize: both;

        overflow: hidden;

        max-width: 100%;
        min-width: 300px;
        max-height: calc(100vh - 41px);
        min-height: 95px;

        opacity: 0.5;
        transition: opacity $transition;
        &:hover {
            opacity: 1;
        }

        &.collapsed {
            min-height: unset;
            min-width: unset;
            width: 250px;
            height: 43px;
            opacity: 1;
            resize: none;
        }

        .list {
            resize: none;
            width: 100%;
            height: 100%;
        }
    }

    .frame-list {
        table, &:is(table) {
            margin-top: 5px;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            tr {
                background: $faded;
            }

            thead tr, tr:nth-child(2n) {
                background: $dark;
            }

            tbody tr:last-of-type {
                background: transparent;
            }

            thead th:not(:last-child) {
                padding-inline: 7px;
            }

            th, td {
                text-align: left;
                font-family: $font;
                color: $text;
                padding: 0;

                &:first-of-type {
                    width: 100px;
                }
                &:nth-child(2) {
                    width: 100px;
                }
                &.error {
                    background: #622;
                }
                &.active {
                    background: $highlightsecondary;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 0;
                    padding: 2px 7px;
                }

                input, select, span {
                    width: 100%;
                    max-width: unset;
                    padding: 2px 7px;
                    background: transparent;

                    &:hover {
                        background: $highlight;
                    }

                    &.invalid {
                        background: #622;
                    }
                }
            }
        }
    }

    .tile-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        padding: 2px;
        height: 100px;
        resize: vertical;
        max-height: 200px;
        min-height: 75px;
        overflow-y: scroll;

        .tile {
            background: repeating-conic-gradient(#0000 0% 25%, #fff1 0% 50%)
                50% / 80px 80px;
        }

        .tile.selected {
            outline: 2px solid $highlightbright;
        }
        .tile:hover {
            outline: 2px solid #bbf;
        }
        .row-break {
            width: 100%;
            &.no-break {
                display: none;
            }
        }
        .row-break-end {
            width: 100%;
            height: 100px;
        }
        
    }
    .list {
        height: 100px;
        resize: vertical;
        overflow-y: scroll;
        margin: 0;
    }
    .list-item {
        font-family: $font;
        color: $text;

        &.grab {
            cursor: grab;
        }
        &.dragging {
            background: $highlight;
            outline: 2px solid $highlightbright;
        }
    }

    input, button, select {
        &.wide {
            flex-grow: 1;
            max-width: unset;
        }

        background: $secondary;
        &:hover {
            background: $highlight;
        }
    }

    span, button, input, select {
        border: none;
        padding: 5px 10px;
        font-family: $font;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        color: $text;

        &:is(input, select) {
            padding: 5px 10px;
        }

        &:is(input) {
            font-size: 14px;
        }

        code, &.filename {
            font-family: $monospace;
            margin-inline: 10px;
        }
        
        svg, img {
            height: 16px;
            margin-right: 5px;
        }
    }
}