@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.window:not(.visible) {
  /* Don't actually set display:none; - It causes problems */
  box-sizing: border-box;
  overflow: hidden;
  width: 0px !important;
}

.window {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 41px);
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.window > * {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  border: none;
}
.window .canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* Base height, not actual height. */
  height: 10%;
  background: #ddd;
}
.window .canvas-container canvas {
  position: relative;
  background: white;
  max-width: 100%;
  max-height: 100%;
}
.window .console {
  font-family: "Roboto Mono";
  flex-grow: 0;
  flex-shrink: 1;
  background: #282a36;
  color: white;
  box-shadow: 0 0 8px #335;
}
.window .console h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 0;
}
.window .console .output-container {
  height: 200px;
  overflow: auto;
  resize: vertical;
  max-height: 250px;
  min-height: 75px;
}
.window .console .log-item {
  font-size: 0.95em;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.window .console .log-item:nth-child(odd) {
  background: #3a3d4f;
}
.window .console .log-item .short {
  display: inline-block;
  opacity: 0.8;
  font-size: 0.9em;
  min-width: 50px;
  margin-right: 10px;
}
.window .console .log-item .source {
  margin-left: auto;
  font-size: 0.9em;
  opacity: 0.8;
  padding: 2px;
  font-weight: normal;
}
.window .console .log-item .message {
  max-width: 70%;
}
.window .console .log-item.info .message {
  color: #bbf;
}
.window .console .log-item.warn .message {
  color: #ff8;
}
.window .console .log-item.debug .message {
  color: #8f8;
}
.window .console .log-item.error {
  font-weight: bold;
  color: #fff;
  background: #844;
}
.window .console .log-item.error:nth-child(odd) {
  background: #a55;
}

.editor {
  flex-grow: 1;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  background: #335;
}
.top button {
  background: #448;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  border: none;
  padding: 3px 20px;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}
.top button:hover {
  background: #648;
}

.sidebar {
  padding: 5px;
  min-width: 320px;
  height: 100%;
  max-height: calc(100vh - 41px);
  overflow-y: scroll;
  z-index: 1;
  font-family: Poppins, sans-serif;
  color: white;
  background: #335;
}
.sidebar h3 {
  margin: 0;
  padding: 10px;
  font-size: 1.25rem;
}
.sidebar h3 button {
  float: right;
  border: none;
  background: #448;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 0.8em;
  font-family: Poppins, sans-serif;
  transition: 0.1s;
}
.sidebar h3 button:hover {
  background: #648;
}

.list .list-item {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 10px;
  background: #448;
  font-size: 1rem;
  cursor: default;
  margin-bottom: 4px;
  transition: 0.1s;
}
.list .list-item:is(button, span, label) {
  padding: 5px 10px;
  font-family: Lato, sans-serif;
  font-size: 1.1em;
  margin-bottom: 2px;
}
.list .list-item:is(button, span, label):is(button) {
  cursor: pointer;
}
.list .list-item > :is(button, input, select) {
  margin-right: 5px;
  color: white;
  background: #282a36;
  border: none;
  padding: 5px 15px;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}
.list .list-item > :is(button, input, select):hover {
  background: #3a3d4f;
}
.list .list-item > :is(button, input, select):is(input, select) {
  max-width: 140px;
  padding: 5px;
}
.list .list-item > :is(button, input, select):is(input, select):focus {
  outline: 2px solid white;
}
.list .list-item > :is(button, input, select)[type=text] {
  cursor: text;
}
.list .list-item > :is(button, input, select)[type=number] {
  max-width: 70px;
}
.list .list-item > :is(button, input, select)[type=file] {
  max-width: 180px;
  cursor: pointer;
  padding: 0px;
  padding-right: 7px;
}
.list .list-item > :is(button, input, select)[type=file]::file-selector-button {
  background: #282a36;
  padding: 5px 7px;
  border: none;
  color: #ebe;
}
.list .list-item > :is(button, input, select):first-child {
  margin-left: auto;
}
.list .list-item:focus-visible, .list .list-item *:focus-visible {
  outline: 2px solid white;
}
.list .list-item .x-value-label {
  margin-left: auto;
}
.list .list-item .x-value-label::before,
.list .list-item .y-value-label::before {
  content: "x";
  width: 20px;
  height: 20px;
  color: #e88;
  font-family: inherit;
  background: #282a36;
  padding: 4px 7px;
}
.list .list-item .y-value-label::before {
  content: "y";
  color: #8d8;
}
.list .list-item:is(details) {
  padding: 0px;
}
.list .list-item svg {
  color: #ebe;
  height: 1em;
  margin-left: 3px;
  margin-right: 12px;
}
.list .list-item img.preview {
  max-height: 80px;
  margin-left: auto;
}
.list .list-item:is(span) svg {
  color: white;
}
.list .list-item.filename {
  font-family: "Roboto Mono";
}
.list .list-item:is(span).property {
  border-bottom: none;
}
.list .list-item.property:hover {
  background: #668;
}
.list .list-item.small {
  font-size: 0.9em;
  padding-block: 2px;
}
:is(.list .list-item[open], .list .list-item:hover) > summary {
  background: #648;
}
.list .list-item:not(details):hover {
  background: #648;
}
.list .list-item .type {
  opacity: 0.75;
  margin-left: auto;
}
.list .list-item summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  list-style: none;
  transition: 0.1s;
  padding: 5px 10px;
}
.list .list-item summary::-webkit-details-marker {
  display: none;
}
.list .list-item .options label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  transition: 0.1s;
}
.list .list-item .options label input, .list .list-item .options label select {
  padding: 0px 7px;
  margin-inline: 3px;
  max-width: 150px;
  font-family: inherit;
  font-size: 1rem;
  background: #000;
  color: black;
  border: none;
  border-radius: 4px;
}
.list .list-item .options label input:first-of-type, .list .list-item .options label select:first-of-type {
  margin-left: 35px;
}
.list .list-item .options label input:hover, .list .list-item .options label select:hover {
  background: #d8d8d8;
}
.list .list-item .options label input[type=text] {
  width: 150px;
}
.list .list-item .options label input[type=number] {
  max-width: 75px;
}
.list .list-item .options label input[type=checkbox] {
  transform: scale(1.4);
  accent-color: white;
}
.list .list-item .options label:hover {
  background: #648;
}
.list .list-item *:not(input)::-moz-selection {
  background: transparent;
}
.list .list-item *:not(input)::selection {
  background: transparent;
}
.list .file-button-active {
  background: #648;
}

.contextmenu {
  position: fixed;
  display: none;
  padding: 2px;
  color: white;
  font-family: Poppins, sans-serif;
  background: #668;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5333333333);
  z-index: 99;
}
.contextmenu button.list-item {
  font-family: Poppins, sans-serif;
  font-size: 0.95rem;
  min-width: 120px;
  margin: 0;
}
.contextmenu button.list-item:hover {
  background: transparent;
}

.visual-editor-controls {
  flex-grow: 0;
  padding: 5px;
  padding-bottom: 10px;
  background: #335;
}
.visual-editor-controls .legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.visual-editor-controls .legend button {
  cursor: pointer;
}
.visual-editor-controls .legend button:first-of-type {
  margin-left: auto;
}
.visual-editor-controls .legend span, .visual-editor-controls .legend button {
  border: none;
  background: transparent;
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  color: white;
}
.visual-editor-controls .legend span svg, .visual-editor-controls .legend span img, .visual-editor-controls .legend button svg, .visual-editor-controls .legend button img {
  height: 16px;
  margin-right: 5px;
}
.visual-editor-controls .tile-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  padding: 2px;
  height: 100px;
  resize: vertical;
  max-height: 200px;
  min-height: 75px;
  overflow-y: scroll;
}
.visual-editor-controls .tile-list .tile.selected {
  outline: 2px solid #ebe;
}
.visual-editor-controls .tile-list .tile:hover {
  outline: 2px solid #bbf;
}
.visual-editor-controls .tile-list .row-break {
  width: 100%;
}/*# sourceMappingURL=engine.css.map */